<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>midterm-tipping-calculator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>806DA80E2AD79BE5001BD4E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>806DA8242AD79BE6001BD4E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>806DA82E2AD79BE6001BD4E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
